@import url('https://fonts.googleapis.com/css?family=Nunito');

:root {
    --color-darkest: #829b7c;
    --color-dark: #be8f7f;
    --color-heading: #f6f6f6;
    --color-body: #dad4c0;
    --color-pop: #dcc278;
    --color-hover: #edc24a;
    --nav-width: 240px;
    --font-base: "Nunito";
}

.main {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgba(255,255,255, 0.1);
    
    background-color: var(--color-darkest);
    color: var(--color-body);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.white {
    color: var(--color-heading);
    /* color: var(--color-pop); */
}
.yellow {
    color: var(--color-pop);
    /* color: var(--color-heading); */
}
.tab {
    margin-left: 45px; 
}

.screenshot {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}
.ss-item {
    margin: 1em;
}

.lofi-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}
.lofi-item {
    margin: 1em;
}

.style-guide-container {
    display: flex;
    justify-content: center;
}

.hifi-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}
.hifi-item {
    margin: 1em;
}

body {
    background-color: rgb(255, 224, 173);
    font-family: var(--font-base), sans-serif;
}

h1{
    font-family: var(--font-base), sans-serif;
    font-size: 50px;
    text-align: center;
    color: var(--color-heading);
}

h2{
    font-family: var(--font-base), sans-serif;
    padding-left: 1em;
}

h3{
    font-family: var(--font-base), sans-serif;
    padding-left: 2em;
}

h4{
    font-family: var(--font-base), sans-serif;
    padding-left: 2.4em;
}

ol{
    font-family: var(--font-base), sans-serif;
    padding-left: 3em;
    padding-right: 3em;
}

ul{
    font-family: var(--font-base), sans-serif;
    padding-left: 3em;
    padding-right: 3em;
}

p {
    padding-left: 3em;
    padding-right: 3em;
}

/* NAVBAR */
.navbar {
    display: flex;
    background-color: var(--color-dark);
    justify-content: center;
}
.nb {
    margin-left: 32rem;
    color: var(--color-heading);
}


.navbar .nav-link {
    font-family: var(--font-base), sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
}

.col {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s ease;
}